.menu-top-bar {
  background-color: #fff;
  display: flex;
  align-items: center;
  > ul {
    list-style-type: none;
    li {
      float: left;
      a {
        color: #111;
        text-decoration: none;
        padding: 24px;
        display: block;
        border-bottom: 4px solid transparent;
        &:hover {
          color: #61dafb;
          border-bottom: 4px solid #61dafb;
        }
      }
    }
  }
}

.menu-side-bar {
  list-style-type: none;
  height: 80vh;
  > li {
    float: left;
    width: 5vw;
  }
  &:first-child {
    margin-top: 10vh;
  }
}

.menu-view {
  width: 35vw;
  display: flex;
  text-align: center;
  > div {
    margin: 100px;
  }
}