.profile {
  width: calc(100vw - 62px);
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.profile-register {
  > div {
    padding-top: 10px;
    padding-bottom: 10px;
    &:nth-child(2) {
      border-top: 1px solid #aaaaaa;
      border-bottom: 1px solid #aaaaaa;
    }
  }
}

.profile-register-terms {
  width: calc(100vw - 62px);
  height: 100px;
  background-color: #aaaaaa;
}

.profile-login {
  > div {
    position: relative;
    text-align: center;
    &:first-child {
      top: 50%;
    }
  }
}

.profile-view {
  width: calc(100vw - 62px);
  display: inline-block;
  text-align: center;
  height: 90vh;
  line-height: 5vh;
  &:first-child {
    margin-top: 2vh;
  }
}