.main-visual {
  height: 20vh;
  line-height: 20vh;
  background-color: aqua;
}
div{
  text-align: center;
}

.event-product {
  width: 33vw;
  height: 60vh;
  float: left;
  > div {
    margin: 50px;
  }
}

.event-product-info {
  margin: 0 35vw;
  height: 50vh;
  border: 1px solid black;
  > div {
    font-size: medium;
  }
}

img{
  width: 20vw;
}